@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

._counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P';
  font-size: 8rem;
}
