@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

._counter {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P';
  font-size: 8rem;
  color: white;
}

._counter.-active {
  font-size: 12rem;
}
